services:
  postgres:
    image: postgres:13
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
      TZ: Asia/Kolkata
      PGTZ: Asia/Kolkata

  adminer:
      image: adminer
      restart: always
      depends_on: 
        - postgres
      ports:
        - 8080:8080
      environment:
        - TZ=Asia/Kolkata